#bdiv{
  background-color: rgb(87, 127, 167);
  color:azure;
  height:657px;
  
}
#div1{
  margin: 40px;
  float:left;
  border: 1px solid grey;
  width:25%;
  height:500px;
  background-color: skyblue;
}
#div2{
  float:left;
  border: 1px solid rgb(170, 12, 86);
  width:26%;
  height:500px;
  margin-left: 30px;
  margin-top: 40px;
  background-color: grey;
}
#div3{
  float:right;
  border: 1px solid rgb(20, 202, 111);
  width:25%;
  height: 500px;
  margin-top: 40px;
  margin-right: 20px;
background-color: skyblue;
}
b{
  padding-left: 10px;
}
h3{
  padding-left: 10px;
}